@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
*{
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: Source Sans Pro; */
    font-family: 'Poppins', sans-serif;
}

.nav-link{
    margin-right: 10px;
}
.fa-bars{
    font-size: 25px;
}

#hero{
    background-image: url('../img/hero.jpeg');
    /* background-image: url('https://cdn.wallpapersafari.com/10/24/RTpbwM.jpg'); */
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* min-height: 700px; */
}
.hero{
    min-height: 400px;
}
.hero-text-box{
    width: 700px;
    height: 300px;
    /* background-color: #fff; */
    margin: auto;
    margin-top: 180px;
}
.hero-text-box h3, .hero-text-box h4{
    color: #fff;
}
.hero-text-box p{
    font-family: 'Raleway', sans-serif;
    color: #e2e2e2;
}
.more_news{
    padding: 50px 70px;
}

/* trending */
.trending p{
    font-size: 14px;
}
.trending .card-body{
    padding: 30px 30px;
}
.responsive{
    position: relative;
}
.left_arrow{
    position: absolute;
    top: -40px;
    right: 70px;
    z-index: 1;
    cursor: pointer;
    font-size: 18px;
    color: #545454;
}
.right_arrow{
    position: absolute;
    top: -40px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
    font-size: 18px;
    color: #545454;
}
.left_arrow:hover, .right_arrow:hover{
    color: #000;
}
/* trending */

/* happening */
.img-container{
    position: relative;
}
#happening h5{
    position: absolute;
    top: 40px;
    left: 40px;
    color: #fff;
    text-shadow: 1px 2px 3px #808080;
}
#happening .text-box{
    position: absolute;
    bottom: 0;
    padding: 40px;
    color: #fff;
}
#happening .card{
    margin-bottom: 500px;
}
.responsive1{
    position: relative;
}
.left_arrow1{
    position: absolute;
    top: -80px;
    right: 70px;
    z-index: 1;
    cursor: pointer;
    font-size: 18px;
    color: #545454;
}
.right_arrow1{
    position: absolute;
    top: -80px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
    font-size: 18px;
    color: #545454;
}
.left_arrow1:hover, .right_arrow1:hover{
    color: #000;
}
.responsive2{
    position: relative;
}
.left_arrow2{
    position: absolute;
    top: -50px;
    right: 70px;
    z-index: 1;
    cursor: pointer;
    font-size: 18px;
    color: #545454;
}
.right_arrow2{
    position: absolute;
    top: -50px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
    font-size: 18px;
    color: #545454;
}
.left_arrow2:hover, .right_arrow2:hover{
    color: #898989;
}
#small-card{
    margin-top: 59px;
}
.footer-link{
    color: #b9b9b9;
    display: block;
    margin-bottom: 10px;
}
.footer-input input::placeholder, .fa-location-arrow{
    color: #d0d0d0;
}
.footer-input{
    border: 1px solid #d0d0d0;
}
.footer-text{
    color: #bcbcbc;
    font-size: 12px;
    margin-top: 10px;
}
.social-icon{
    font-size: 20px;
}
.img-container{
    overflow: hidden;
}
.img-container img:hover{
    transform: scale(1.2);
    transition-duration: .6s;
}

/* Scroll to top button for index.html*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 0, 0, 0.5); /* Set a background color */
    color: #d4a300; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50% 10%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
#myBtn:hover {
    background-color: rgba(2, 2, 2, 0.7); /* Add a dark-grey background on hover */
}
/* Scroll to top button for room.html*/

.underline{
    width: 100%;
    background-color: #fff;
    height: 2px;
    margin: 20px 0;
}

.btn-pink{
    background-color: #FC6780;
    color: #fff;
    font-size: 14px;
    padding: 13px 30px;
}
@media only screen and (max-width:1075px){
    .hero{
        min-height: 300px;
    }
    .hero-text-box{
        width: 700px;
        height: 300px;
        /* background-color: #fff; */
        margin: auto;
        margin-top: 180px;
    }
}


@media only screen and (max-width:992px){
    .hero-text-box{
        width: 100%;
        margin-top: 180px;
    }
    .hero-text-box h3, .hero-text-box h4{
        font-size: 20px;
    }
    .hero-text-box p{
        font-size: 12px;
    }
    .more_news{
        padding: 40px 20px;
    }
    .left_arrow{
        right: 50px;
    }
    .right_arrow{
        right: 20px;
    }
    .left_arrow1{
        right: 50px;
    }
    .right_arrow1{
        right: 20px;
    }
}

@media only screen and (max-width:576px){
    #happening h5{
        font-size: 14px;
    }
    #happening h4{
        font-size: 16px;
    }
    #happening .text-box{
        font-size: 12px;
    }
    .btn-pink{
        padding: 9px 10px;
        font-size: 12px;
    }
    footer{
        text-align: left;
    }
}